* {
    box-sizing: border-box;
}

b {
    font-weight: bold;
}

body {

background-color: #F3F3F3;
}

.main-container {
    height: 100vh;
    z-index: 0;

    width: 375px;
    position: relative;
    background-color: #F3F3F3;
    margin: auto;
}

.top-bar {
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 375px;
    height: 70px;

}

.logo {
    width: 75px;
    height: 53px;
   
    
    margin-left: 22px;

    

}

.icon{
    width: 50px;
    margin-right: 22px;
}

.icon:hover{
    cursor: pointer;
}


.messages {
    margin-top: 110px;
    padding-bottom: 81px;


}

.message-div {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    margin-bottom: 4px;
    

}

.message-div h3 {
    color: #AAAAAA;
    margin-left: 8px;
    margin-right: 8px;
    overflow:hidden;
}

.status {
    background-color: #DCDCDC;
    overflow:hidden;
}

.normal-message {
    background-color: white;
    overflow:hidden;
}

.privately-message {
    background-color: #FFDEDE;
    overflow:hidden;
}

.type-box {
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
   position: fixed;
   bottom: 0;
    bottom: 0;
    height: 70px;
    width: 375px;
   
}

.type-box input {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: black;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.type-box button {
    height: 100%;
    width: 20%;
    border: none;
    background-color: white;
    cursor: pointer;

    margin-left: 10px;
    
}

.type-box button:hover{
    background-color: #DCDCDC;
}


.side-menu {
    height: 100%;
    width: 375px;
    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;

}

.inside-menu {
    width: 60%;
    height: 100%;

    position: relative;
    background-color: white;


    
}

.inside-menu h1 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.contacts-div, .visibility-div{
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 16px;

}
.contacts-div img, .visibility-div img{
    width: 25px;
    margin-left: 17px;
    margin-right: 8px;
}

.contacts-div:hover, .visibility-div:hover {
    cursor: pointer;
    background-color: #DCDCDC;

}

.off-menu{
    width: 40%;
    position: relative;
}


.hidden {
   display: none;
}



.teste {
    display: flex;
}


/*

    height: 100vh;
    width: 300px;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    margin: auto;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
*/